/* .App {
  text-align: center;
} */


.pd-1{
  padding-top: 1px !important;
}
nav{
  z-index: 1;
}
nav span{
  font-size: 20px;
  padding: 5px;
  padding-top: 4px;
  border-radius: 50%;
}
nav span:hover{
  color: #fff !important;
  /* background-color: rgb(255, 174, 0); */
  /* padding: 5px; */
  /* padding-top: 4px; */
  cursor: pointer;
}
.carousel{
  /* position: relative !important; */
  margin-top: 50px;
  -webkit-box-shadow: 0px 9px 22px -4px rgba(0,0,0,0.68);
-moz-box-shadow: 0px 9px 22px -4px rgba(0,0,0,0.68);
box-shadow: 0px 9px 22px -4px rgba(0,0,0,0.68);
}
.carousel .carousel-inner{
  max-height: 695px !important;
}
.carousel-caption {
  margin-bottom: 900px;
  
}
.card{
  background-color: rgb(245, 240, 240);
}
.card img{
  max-height: 300px;
  min-height: 300px;
  opacity: 0.9;
}
.card img:hover{
  opacity: 1;
}
.detail{
  margin: 150px 150px;
  margin-top: 150px;
  padding: 5px;
    /* border: 1px solid silver; */
    
  background-color: rgb(236, 233, 233);
  border-radius: 4px;
}
.detail img{
  max-height: 500px;
  border: 4px solid rgb(236, 233, 233);
  /* opacity: 0.2; */
}
.detailRight h2{
 padding-left: 20px ;
 padding-right: 20px;
 padding-top: 20px;
 padding-bottom: 0px;
}
.detailRight h5{
 padding-bottom: 0px;
 padding-right: 20px;
 padding-top: 10px;
}
.detailRight p{
 padding: 20px;
 text-align: justify;
}
.detailRight .tech h4{
 padding-left: 20px;
 padding-top: 10px;
}
.detailRight .qnty{
  padding-left: 20px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.detailRight .qnty span{
 height: 50px;
 width: 50px;
 text-align: center;
 padding-top: 8px;
 font-size: 20px;
 border: 1.5px solid rgb(214, 170, 26);
 /* border-radius: 3px; */
}

.detailRight .qnty span:hover{
 border: 2px solid rgb(214, 170, 26);
 cursor: pointer ;
}
.mr-20{
  margin-right: 20px;
}
.ml-20{
  margin-left: 20px;
}
.allProduct{
  margin-top: 50px;
}
.product img{
  padding: 30px;
  transition: all .3s linear; 
  overflow: hidden;
}
.product img:hover { transform: scale(1.2);
cursor: pointer; }

.detail img{
  transition: all .3s ease-in-out; 
}
.detail img:hover { transform: scale(1.05);
cursor: pointer; }

/*cart detail*/
.cart_detail{
  /* margin-top: 20px; */
 display: flex;
 justify-content: center;
 align-items: center;
}
.cart_detail span{
 height: 25px;
 width: 25px;
 text-align: center;
 /* padding-top: 4px; */
 font-size: 15px;
 border: 1.5px solid rgb(214, 170, 26);
 /* border-radius: 3px; */
}
.cart_detail span:hover{
 border: 2px solid rgb(214, 170, 26);
 cursor: pointer ;
}
.remove{
  font-size: 20px;
}
.remove:hover{
  color: #000 !important;
  cursor: pointer;

}
.grandTotal{
  /* background-color: rgb(214, 170, 26); */
  border: 1px solid rgb(214, 170, 26); 
  border-radius: 10px;
  padding: 10px;
  max-height: 200px;
  margin-top: 100px;
  /* color: #fff; */
}
.grandTotal button{
  display: block;
  text-align: center;

}